* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  background: #fff;
  color: #333;
  margin: 0 auto;
}
.container {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
input[type="text"] {
  width: 320px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 15px;
  outline: none;
  padding: 12px 14px;
}
.tray-title {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: normal;
  margin-bottom: -10px;
}
.searchbox {
  vertical-align: 30px;
  margin-left: 75px;
  margin-top: auto;
  margin-bottom: auto;
}
.icon-set {
  vertical-align: 10px;
  margin-left: 185px;
}
.button {
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: sans-serif;
  border-radius: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
  padding-right: 15px;
}
header {
  height: 60px;
  border: 1px rgb(201, 189, 189) solid;
  border-left: hidden;
  max-width: 80%;
}
.inline-bl {
  display: inline-block;
}
.block {
  display: block;
}
i img {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  object-fit: cover;
  border: solid 0.5px rgb(182, 181, 176);
}
.nav {
  margin-left: 40px;
  height: 40px;
  vertical-align: 30px;
}
.inline-item {
  display: inline-block;
}

.logo {
  height: 60px;
  width: 180px;
  margin-left: 55px;
}
.menu {
  margin-left: 100px;
}
li a {
  text-decoration: none;
  font-weight: normal;
  color: black;
  text-align: center;
}
.list {
  margin-top: 20px;
  word-spacing: -1ch;
}
.item {
  width: 317.5px;
  height: 90px;
}
.big-item {
  height: 290px;
  width: 972.5px;
}
.big-item img {
  height: 290px;
  width: 972.5px;
  object-fit: cover;
}
.item img {
  width: 317.5px;
  height: 90px;
  object-fit: cover;
}
.mr-10 {
  margin-right: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.section {
  margin-bottom: 20px;
}
.item2 {
  width: 317.5px;
  height: 180px;
  word-spacing: normal;
}
.item2 img {
  width: 317.5px;
  height: 180px;
  object-fit: cover;
}
.item3 {
  height: 310px;
  width: 208.3px;
}
.item3 img {
  height: 310px;
  width: 208.3px;
  object-fit: cover;
}
.item4 {
  width: 317.5px;
  height: 90px;
}
.item4 img {
  height: 90px;
  width: 150px;
  word-spacing: normal;
  margin-right: 10px;
}
.newitem-title {
  max-height: 40px;
  width: 187px;
  word-spacing: normal;
  vertical-align: text-top;
  display: inline;
  font-size: 16px;
}
.img-set {
  float: left;
  display: inline;
}
.item-description {
  height: 76px;
  padding-top: 30px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
.item-title {
  font-size: 16px;
  text-align: left;
}
.new-chap .item-description {
  position: absolute;
  left: 115px;
  right: 0;
  bottom: -15px;
  width: 100%;
  height: auto;
  z-index: 1;
  color: #eee;
}
.cartoon .item-description {
  position: absolute;
  left: 115px;
  right: 0;
  bottom: -1010px;
  width: 100%;
  height: auto;
  z-index: 1;
  color: rgb(94, 90, 90);
}
.item-description .item-title {
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  margin-bottom: 2px;
  color: #eee;
  font-size: 16px;
}
.espisode-name {
  width: 45%;
  float: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  text-align: left;
  font-size: 12px;
}
.test {
  position: absolute;
  bottom: -1310px;
  left: 120px;
  font-size: 14px;
  border: 1px rgb(252, 249, 249) solid;
  color: rgb(248, 242, 242);
  background-color: black;
  word-spacing: normal;
  width: 0px;
  height: 20px;
}
.position {
  position: relative;
}
.name-anime {
  word-spacing: normal;
  position: absolute;
  bottom: -1590px;
  left: 120px;
  font-size: 18px;
  color: rgb(250, 246, 246);
}
